@model MainData

@{
    int dayNumbers = ViewData["dayNumbers"] != null ? (int)ViewData["dayNumbers"] : 1;
    string type = ViewData["type"] != null ? (string)ViewData["type"] : "Phong cảnh thiên nhiên";
}
<!-- Page Title-->
<div class="rn-page-title" id="rn-page-productslist">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Các điểm đến</h1>
                    <p>Danh sách các điểm đến nổi bật mà bạn không thể bỏ qua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Car Results-->
<div class="rn-section rn-car-search-results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Car Search Filters-->
                <div class="rn-car-search-filters">
                    <div class="rn-car-search-filter-item">
                        <label>Loại điểm đến:</label>
                        <select id="sel-type" onchange="ChangeType()">
                            <option value="phong-canh-thien-nhien">Phong cảnh thiên nhiên</option>
                            <option value="di-tich-lich-su">Di tích lịch sử</option>
                            <option value="cong-trinh-kien-truc">Công trình kiến trúc</option>
                            <option value="thang-canh-tam-linh">Thắng cảnh tâm linh</option>
                            <option value="khac">Khác</option>
                        </select>
                    </div>
                    <div class="rn-car-search-filter-item">
                        <label>Số ngày:</label>
                        <select id="sel-day-numbers" onchange="ChangeDayNumbers()">
                            <option value="1">1 ngày</option>
                            <option value="2">2 ngày</option>
                            <option value="3">3 ngày</option>
                            <option value="4">4 ngày</option>
                            <option value="5">Từ 5 ngày</option>
                        </select>
                    </div>
                    @*  <div class="rn-car-search-filter-item">
                    <label>Số người:</label>
                    <select>
                    <option value="Một mình">Một mình</option>
                    <option value="Cặp đôi">Cặp đôi</option>
                    <option value="Dưới 10 người">Dưới 10 người</option>
                    <option value="Khách đoàn">Khách đoàn</option>
                    </select>
                    </div> *@
                    <div class="rn-car-search-filter-item rn-csf-item-last">
                        <label>Sắp xếp theo:</label>
                        <select>
                            <option value="Nổi bật">Nổi bật</option>
                            <option value="Lượt đánh giá">Lượt đánh giá</option>
                            <option value="Giá: Thấp đến cao">Giá: thấp đến cao</option>
                            <option value="Giá: Cao đến thấp">Giá: cao đến thấp</option>
                            <option value="Khoảng cách: Gần đến xa">Khoảng cách: tăng dần</option>
                            <option value="Khoảng cách: Xa đến Gần">Khoảng cách: giảm dần</option>
                        </select>
                    </div>
                </div>
                <!-- End Car Search Filters-->
                <!-- Car Search Item-->
                <div id="list-data">
                    @Html.Partial("_ProductsList_PartialView", Model.CurrentTours)
                </div>

                <div class="text-center">
                    <a class="btn btn-lg btn-outline-light mb-40" id="btn-show-more" href="#" onclick="GoPage()">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function docReady(fn) {
        debugger;
        // see if DOM is already available
        if (document.readyState === "complete" || document.readyState === "interactive") {
            // call on next available tick
            $('#sel-type').val('@type');
            $('#sel-day-numbers').val('@dayNumbers');
        }
    }

    function GoPage() {
        $.ajax({
            url: '@Url.Action("GoPage", "Product")',
            method: "GET",
            success: function (data) {
                $("#list-data").html(data);
                scrollToTarget('btn-show-more');
            }
        });
    }

    function ChangeDayNumbers() {
        var e = document.getElementById("sel-day-numbers");
        window.location.href = "/tourday/" + e.value;
    }

    function ChangeType() {
        var e = document.getElementById("sel-type");
        window.location.href = "/tourcat/" + e.value;
    }
</script>
<!-- End Car Results-->