<!-- Slider-->
<div class="rn-carousel carousel slide" id="carouselExampleControls" data-ride="carousel">
    <div class="carousel-inner">

        <!-- Slider Item 1-->
        <div class="carousel-item beactive">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">Khám phá thành phố Điện Biên</h2>
                <p class="rn-fade-bottom rn-caption-item-2 mb-35">Thành phố với nhiều di tích lịch sử gắn với chiến thắng Điện Bên Phủ.</p>
                <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="/Product/ProductDetail">Liên hệ tư vấn ngay</a>
            </div>
            <div class="rn-slider-overlayer"></div>
            <img class="d-block w-100" src="~/assets/images/customs/slide_001.jpg" alt="slide">
        </div>

        <!-- Slider Item 2-->
        <div class="carousel-item">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">Chinh phục Pa A Chải hùng vĩ</h2>
                <p class="rn-fade-bottom rn-caption-item-2 mb-35">Với những bạn trẻ đam mê phượt và leo núi mạo hiểm thì Pa A Chải chính là địa điểm du lịch Điện Biên không thể bỏ lỡ.</p>
                <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="/Product/ProductDetail">Liên hệ tư vấn ngay</a>
            </div>
            <div class="rn-slider-overlayer"></div>
            <img class="d-block w-100" src="~/assets/images/customs/slide_002.jpg" alt="slide">
        </div>

        <!-- Slider Item 3-->
        <div class="carousel-item">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">Mường Nhé - Khu bảo tồn thiên nhiên duy nhất ở Điện Biên</h2>
                <p class="rn-fade-bottom rn-caption-item-2 mb-35">Khu bảo tồn đã có tổng diện tích gần 310.262 ha, khoảng 118.000 ha đất rừng nguyên sinh. Được bao phủ bởi nhiều loại cây rừng quý hiếm.</p>
                <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="/Home/Contact">Liên hệ tư vấn ngay</a>
            </div>
            <div class="rn-slider-overlayer"></div>
            <img class="d-block w-100" src="~/assets/images/customs/slide_003.jpg" alt="slide">
        </div>

        <div class="carousel-item">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">Hãy liên hệ ngay với chúng tôi để được tư vấn</h2>
                <p class="rn-fade-bottom rn-caption-item-2 mb-35">Hành trình đa dạng cùng đội ngũ tư vấn viên nhiệt tình chắc chắn sẽ làm bạn hài lòng.</p>
                <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="/Home/Contact">Gọi ngay 032-8989-333</a>
            </div>
            <div class="rn-slider-overlayer"></div>
            <img class="d-block w-100" src="~/assets/images/customs/slide_004.jpg" alt="slide">
        </div>

    </div>
    <!-- Slider Controls -->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
    </a>
</div>
<!-- End slider-->
<!-- Car Search Form-->
<section class="rn-search-form-big rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title  rn-title-bg-color-white-10 rn-title-color-white">
                    <h2 class="rn-title">Tìm kiếm chuyến đi phù hợp với bạn</h2>
                    <span class="rn-title-bg">Luôn có khi bạn cần</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!-- Main Big Search Form-->
                <div class="rn-big-search-form rn-big-search-form-dark">
                    <form action="car-search.html">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="rn-icon-input">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" placeholder="Nơi đi">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="rn-icon-input">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" placeholder="Điểm đến">
                                </div>
                            </div>
                            <div class="col-lg-3 rn-date-time-input">
                                <div class="row">
                                    <div class="col-lg-7 col-md-8 col-8">
                                        <div class="rn-icon-input">
                                            <i class="far fa-calendar-alt"></i>
                                            <input type="text" placeholder="Từ ngày" id="pickup-date">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-4">
                                        <div class="rn-icon-input">
                                            <i class="far fa-clock"></i>
                                            <input type="text" placeholder="Time" id="pickup-time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 rn-date-time-input">
                                <div class="row">
                                    <div class="col-lg-7 col-md-8 col-8">
                                        <div class="rn-icon-input">
                                            <i class="far fa-calendar-alt"></i>
                                            <input type="text" placeholder="Đến ngày" id="drop-date">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-4">
                                        <div class="rn-icon-input">
                                            <i class="far fa-clock"></i>
                                            <input type="text" placeholder="Time" id="drop-time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-orange btn-lg mt-30 btn-shadow" type="submit">
                                <i class="fas fa-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Section Shape-->
    <div class="rn-shape rn-shape-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="rn-shape-fill" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z" />
        </svg>
    </div>
</section>

<!-- End Car Search Form-->
<!-- Why People Like Us Section-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Tại sao nên book tour của chúng tôi?</h2>
                    <p>Sự uy tín và phục vụ khách hàng tận tâm là tôn chỉ của chúng tôi.</p>
                    <span class="rn-title-bg">Tại sao nên book tour của chúng tôi?</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>Best Price Guarantee</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>No Cancellation Fees</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>Best Quality Cars</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>Reservation Anytime</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>Personal Driver</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>Unlimited Miles</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>City to City</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
            <div class="col-lg-3 col-md-6">

                <!-- Feature with dot-->
                <div class="rn-dot-feature">
                    <div class="rn-the-dot"></div>
                    <div class="rn-dot-feature-info">
                        <h3>24/7 Customer Support</h3>
                        <p>Duis placerat tempus odio vel pretium. Vestibulum mattis viverra justo vel consequat.</p>
                    </div>
                </div>
                <!-- End Feature with dot-->

            </div>
        </div>
    </div>
</section>
<!-- End Why People Like Us Section-->
<!-- Popular Cars Section-->
<section class="rn-section rn-section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title  rn-title-bg-color-white ">
                    <h2 class="rn-title">Các điểm đến nổi bật</h2>
                    <p>Nơi có những điểm đến đang được ưa thích và lựa chọn nhiều nhất bởi các khách hàng của chúng tôi.</p>
                    <span class="rn-title-bg">Các điểm đến nổi bật</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-1.jpg" alt="Suối nước nóng U Van" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Suối nước nóng U Va</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$800</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-2.jpg" alt="Thành Bản Phủ" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Thành Bản Phủ</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$600</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-3.jpg" alt="Đèo Pha Đin" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Đèo Pha Đin</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$650</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-4.jpg" alt="Ruộng lúa chín" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Ruộng lúa chín</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$900</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-5.jpg" alt="Bảo tàng Chiến thắng Điện Biên Phủ" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Bảo tàng Chiến thắng Điện Biên Phủ</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$850</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Car Item-->
                <div class="rn-car-item">
                    <div class="rn-car-item-review">
                        <div class="fas fa-star"></div> 5.0
                    </div>
                    <div class="rn-car-item-thumb">
                        <a href="/Product/ProductDetail">
                            <img class="img-fluid" src="~/assets/images/car-8.jpg" alt="Ruộng lúa chín" />
                        </a>
                    </div>
                    <div class="rn-car-item-info">
                        <h3>
                            <a href="/Product/ProductDetail">Ruộng lúa chín</a>
                        </h3>
                        <p>Mauris semper nisl a massa convallis</p>
                        <div class="rn-car-list-n-price">
                            <ul>
                                <li>Aliqua venandi mutat</li>
                                <li>Plerisque nostrum</li>
                                <li>intellegimus percurri</li>
                            </ul>
                            <div class="rn-car-price-wrap">
                                <a class="rn-car-price" href="/Product/ProductDetail">
                                    <span class="rn-car-price-from">From</span>
                                    <span class="rn-car-price-format">
                                        <span class="rn-car-price-amount">$800</span>
                                        <span class="rn-car-price-per">/day</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Car Item-->

            </div>
        </div>
    </div>
</section>
<!-- End Popular Cars Section-->
<!-- Car Categories-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Lựa chọn theo mục đích</h2>
                    <p>Nơi bạn có thể lựa chọn được chuyến đi ưng ý theo nhu cầu của mình.</p>
                    <span class="rn-title-bg">Lựa chọn theo mục đích</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/mail.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Trải nghiệm, khám phá</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/graphic-design.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Nghỉ dưỡng cùng gia đình</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/game-controller.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Tìm hiểu lịch sử</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/web-development.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Mua sắm, ăn uống</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/newspaper.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Giáo dục cộng đồng</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <!-- Car Category-->
                <div class="rn-car-type">
                    <a href="cars.html">
                        <span class="rn-car-type-icon">
                            <i class="rni">
                                <img src="~/assets/images/customs/online-learning.svg" style="width: 40%;" />
                            </i>
                        </span>
                        <span class="rn-car-type-title">Mục đích khác</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Car Categories-->
<!-- Testimonials & Fun Fact-->
<section class="rn-section rn-fun-fact">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <!-- Section Title-->
                <div class="rn-section-title rn-title-pos-left rn-title-bg-color-white-10 rn-title-color-white">
                    <h2 class="rn-title">Cảm nhận của khách hàng về dịch vụ của chúng tôi</h2>
                    <span class="rn-title-bg">Cảm nhận của khách hàng</span>
                </div>

                <!-- Testimonials-->
                <div class="rn-testimonials rn-testimonials2">
                    <div class="rn-testimonials-carousel carousel slide" id="rn-testimonials" data-ride="carousel">
                        <div class="carousel-inner">

                            <!-- Testimonial Item 1-->
                            <div class="carousel-item active">
                                <blockquote class="rn-testimonial2-item">
                                    <p>Các anh tư vấn rất nhiệt tình, chuyến đi rất thú vị.</p>
                                    <footer>
                                        <div class="rn-testimonial-author">
                                            <strong>Linh</strong>
                                            <p>Sinh viên, ĐH Hà Nội.</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>

                            <!-- Testimonial Item 2-->
                            <div class="carousel-item">
                                <blockquote class="rn-testimonial2-item">
                                    <p>Tôi cùng gia đình đã có những kỷ niệm thật tuyệt.</p>
                                    <footer>
                                        <div class="rn-testimonial-author">
                                            <strong>Tiến</strong>
                                            <p>Nhân viên văn phòng, Hà Nội.</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>

                            <!-- Testimonial Item 3-->
                            <div class="carousel-item">
                                <blockquote class="rn-testimonial2-item">
                                    <p>Tôi cho cả gia đình đi cùng, hai đứa nhà tôi rất thích.</p>
                                    <footer>
                                        <div class="rn-testimonial-author">
                                            <strong>Trung</strong>
                                            <p>Đống Đa, Hà Nội.</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>

                            <!-- Testimonial Item 4-->
                            <div class="carousel-item">
                                <blockquote class="rn-testimonial2-item">
                                    <p>Chuyến team building của công ty tôi rất ý nghĩa.</p>
                                    <footer>
                                        <div class="rn-testimonial-author">
                                            <strong>Quý</strong>
                                            <p>Trưởng phòng, DatViet Land.</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>

                        </div>
                        <!-- Testimonials Slider Controls-->
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#rn-testimonials" data-slide-to="0"></li>
                            <li data-target="#rn-testimonials" data-slide-to="1"></li>
                            <li data-target="#rn-testimonials" data-slide-to="2"></li>
                            <li data-target="#rn-testimonials" data-slide-to="3"></li>
                        </ol>
                    </div>
                </div>
                <!-- End Testimonials-->

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">

                        <!-- CountUp Item-->
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">16</span>
                                <span class="rn-counter-postfix">+</span>
                            </div>
                            <div class="rn-counter-text">Tour sẵn sàng để lựa chọn</div>
                        </div>

                    </div>
                    <div class="col-6">

                        <!-- CountUp Item-->
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">65</span>
                                <span class="rn-counter-postfix">+</span>
                            </div>
                            <div class="rn-counter-text">Đã book trong tháng này</div>
                        </div>

                    </div>
                    <div class="col-6">

                        <!-- CountUp Item-->
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">2800</span>
                                <span class="rn-counter-postfix">+</span>
                            </div>
                            <div class="rn-counter-text">Khách hàng lựa chọn chúng tôi</div>
                        </div>

                    </div>
                    <div class="col-6">

                        <!-- CountUp Item-->
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">
                                    90
                                </span>&#x00025;
                                <span class="rn-counter-postfix">+</span>
                            </div>
                            <div class="rn-counter-text">Hài lòng và giới thiệu cho bạn bè</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials & Fun Fact-->
<!-- Recent New/Posts-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title">
                    <h2 class="rn-title">Tin tức và Sự kiện</h2>
                    <p>Nơi cập nhật các thông tin, sự kiện mới nhất về du lịch.</p>
                    <span class="rn-title-bg">Tin tức và Sự kiện</span>
                </div>

            </div>
        </div>
        <div class="row rn-post-list">
            <div class="col-md-4">

                <!-- Blog Post Item (Small Size)-->
                <div class="rn-post-item rn-post-size-sm">
                    <div class="rn-post-item-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/blog-item-sm-1.jpg" alt="Điện Biên tung chương trình kích cầu du lịch" />
                        </a>
                    </div>
                    <div class="rn-post-item-header">
                        <div class="rn-post-date">
                            <div class="rn-post-date-inner">
                                <div class="rn-post-date-d">31</div>
                                <div class="rn-post-date-m-y">7, 2021</div>
                            </div>
                        </div>
                        <div class="rn-post-item-title-meta">
                            <div class="rn-post-item-title-meta-inner">
                                <div class="rn-post-item-meta">
                                    <span class="rn-post-item-categories">
                                        Ở
                                        <a href="#">Tin tức</a>
                                    </span>
                                    <span class="rn-post-item-author">
                                        Bởi
                                        <a href="#">Trí thức trẻ</a>
                                    </span>
                                </div>
                                <h3 class="rn-post-item-title">
                                    <a href="#">1234</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post Item (Small Size)-->

            </div>
            <div class="col-md-4">

                <!-- Blog Post Item (Small Size)-->
                <div class="rn-post-item rn-post-size-sm">
                    <div class="rn-post-item-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/blog-item-sm-2.jpg" alt="Hannah Bronfman: Beauty Hound" />
                        </a>
                    </div>
                    <div class="rn-post-item-header">
                        <div class="rn-post-date">
                            <div class="rn-post-date-inner">
                                <div class="rn-post-date-d">15</div>
                                <div class="rn-post-date-m-y">May, 2018</div>
                            </div>
                        </div>
                        <div class="rn-post-item-title-meta">
                            <div class="rn-post-item-title-meta-inner">
                                <div class="rn-post-item-meta">
                                    <span class="rn-post-item-categories">
                                        Ở
                                        <a href="#">Tin tức</a>
                                    </span>
                                    <span class="rn-post-item-author">
                                        Bởi
                                        <a href="#">John Doe</a>
                                    </span>
                                </div>
                                <h3 class="rn-post-item-title">
                                    <a href="#">Hannah Bronfman: Beauty Hound</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post Item (Small Size)-->

            </div>
            <div class="col-md-4">

                <!-- Blog Post Item (Small Size)-->
                <div class="rn-post-item rn-post-size-sm">
                    <div class="rn-post-item-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/blog-item-sm-3.jpg" alt="Daily Report: A Busy Week Ahead" />
                        </a>
                    </div>
                    <div class="rn-post-item-header">
                        <div class="rn-post-date">
                            <div class="rn-post-date-inner">
                                <div class="rn-post-date-d">15</div>
                                <div class="rn-post-date-m-y">May, 2018</div>
                            </div>
                        </div>
                        <div class="rn-post-item-title-meta">
                            <div class="rn-post-item-title-meta-inner">
                                <div class="rn-post-item-meta">
                                    <span class="rn-post-item-categories">
                                        Ở
                                        <a href="#">Tin tức</a>
                                    </span>
                                    <span class="rn-post-item-author">
                                        Bởi
                                        <a href="#">John Doe</a>
                                    </span>
                                </div>
                                <h3 class="rn-post-item-title">
                                    <a href="#">Daily Report: A Busy Week Ahead</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post Item (Small Size)-->

            </div>
        </div>
    </div>
</section>
<!-- End Recent New/Posts-->